# Created by venv; see https://docs.python.org/3/library/venv.html
# 忽略虚拟环境的本体文件
Include/
Lib/
Scripts/
pyvenv.cfg

# 忽略 Python 运行缓存
__pycache__/
*.pyc

# 忽略编辑器配置（如果你用 VS Code 或 PyCharm）
.vscode/
.idea/
